@charset "UTF-8";
/* CSS Document */

body{
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    font-family:"Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
    background: #fff;
    -webkit-text-size-adjust:100%;
}

img{
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

#wrapper{
	width: 100%;
	margin: 0 auto;
}

header,#nav_link,nav ul{
    display: flex;
}

header{
	justify-content: space-between;
}

header h1{
    font-size: 30px;
}